<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>
  <div class="page-container">
    <div class="banner" style="background-image: linear-gradient(rgba(255,255,255,0.1), rgba(0,0,0,0)), url('<%= image_path 'banner_cocktail.jpg' %>');">
      <div class="container">
        <div class="field">
        </div>
        <h2>Let's</h2>
        <h1>MIX IT</h1>
        <br>
        <%= link_to image_tag('add_cocktail', class: "add_cocktail_link"), new_cocktail_path %>
        <p>
         <span id="banner-typed-text"></span>
       </p>
     </div>
   </div>

   <div class="text-inbetween">
    <p>OUR FAVORITES</p>
  </div>

  <div class="cards">
   <% @cocktails.each do |cocktail| %>
   <div class="row">
    <div class="col-12">
      <%= link_to cocktail_path(cocktail), class: "cocktail_link" do %>
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.3)), url('<%= cl_image_path(cocktail.photo.key, crop: :fill) %>')">
       <%= cocktail.name %>
     </div>
     <% end %>
   </div>
 </div>
 <% end %>
</div >
</div>
</body>
</html>

<div>

  <!-- onclick: "cocktail_path(cocktail).location.reload()" -->


