
<div class="container_new" style="background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.3)), url('<%= cl_image_path(@cocktail.photo.key, crop: :fill) %>')">
  <div class="wrapper">
    <p class="headline_cocktail">
      <strong><%= @cocktail.name %></strong>
    </p>

    <div class="ingredients_with_delete">
      <div class="ingredients">
        <% @cocktail.doses.each do |dose| %>
          <p class="ingredient" data-dose-id="<%= dose.id%>" id="dose-<%= dose.id%>" ><%= dose.description %> <%= dose.ingredient.name  %>
          <br>
          <% end %>
        </p>
      </div>
      <div class="x">
        <% @cocktail.doses.each do |dose| %>
        <%= link_to image_tag('x', size: "12x12", class: "delete_image_ingredients"), dose_path(dose), method: :delete %>
        <br>
        <% end %>
      </div>
    </div>

    <div class="links_cocktail_new">
      <%= link_to 'Add an Ingredient', new_cocktail_dose_path(@cocktail), class: "ingredient_link" %><br>
      <%= link_to 'Show all Cocktails', cocktails_path, class: "show_cocktails_link" %>
    </div>
  </div>
</div>
