
<div class="container_new">
<p class="headline_cocktail">
  <strong><%= @cocktail.name %></strong>
</p>

<div class="ingredients">
  <p>
    <% @cocktail.doses.each do |dose| %>
    <%= dose.description %> <%= dose.ingredient.name %> <%= link_to 'Delete', dose_path(dose), method: :delete %>
    <br>
    <% end %>
  </p>
</div>

<div class="links_cocktail_new">
<%= link_to 'Add an Ingredient', new_cocktail_dose_path(@cocktail) %><br>
<%= link_to 'Show all Cocktails', cocktails_path %>
</div>
</div>
